.header
  .header__title
    Homework_App
  .header__rigth
    .header__rigth__name
      sato
    .header__rigth__sign-out
      ログアウト
.contents
  .content
    .content__box
      .posts
        .posts__text
          text
        .posts__rigth
          .posts__rigth__name
            sato
          .posts__rigth__date
            2020/02/09 12:05
    %form.form
      
      %input{type: "text", class: "form__text", placeholder: "文字を入力（２５文字以内）"}
      %input{value: "投稿する", type: "submit", class: "form__send"}  　
  .footer Homework App 2020
    


